<dl class="dl-horizontal">
	<dt>Assessment</dt>
	<dd><%= @course.assessment.present? ? @course.assessment : '<i>undefined</i>'.html_safe %></dd>

	<h3>Continual Course Improvement</h3>
	<% if @course.course_improvements.present? %>
		<% @course.course_improvements.each do |i| %>
			<dt>Improvement</dt>
			<dd><%= i.description %></dd>
		<% end %>
	<% else %>
		<dd><%= '<i>undefined</i>'.html_safe %></dd>
	<% end %>	
</dl>