<div class="view-items">
	<b>Units of Credit: </b>
	<%= @course.units_of_credit.present? ? @course.units_of_credit : '<i>undefined</i>'.html_safe %>
</div>

<% if @course.teaching_times_and_locations.present? %>
	<div class="view-items">
		<b>Teaching Times and Locations: </b>
		<%= @course.teaching_times_and_locations.html_safe %>
	</div>
<% end %>

<% if @course.online_course_support.present? %>
	<div class="view-items">
		<b>Online Course Support</b>
		<%= @course.online_course_support.html_safe %>
	</div>
<% end %>

<% if @course.parallel_teaching.present? %>
	<div class="view-items">
		<b>Parallel Teaching: </b>
		<%= @course.parallel_teaching.html_safe %>
	</div>
<% end %>

<!-- <dl class="dl-horizontal">
	
	<dt>Units of Credit</dt>
	<dd><%#= @course.units_of_credit.present? ? @course.units_of_credit : '<i>undefined</i>'.html_safe %></dd>

	<%# if @course.teaching_times_and_locations.present? %>
		<dt>Teaching Times and Locations</dt>
		<dd><%#= @course.teaching_times_and_locations.html_safe %></dd>
	<%# end %>

	<%# if @course.online_course_support.present? %>
		<dt>Online Course Support</dt>
		<dd><%#= @course.online_course_support.html_safe %></dd>
	<%# end %>

	<%# if @course.parallel_teaching.present? %>
		<dt>Parallel Teaching</dt>
		<dd><%#= @course.parallel_teaching.html_safe %></dd>
	<%# end %>
	
	<%# if @resources_required.present? %>
		<h5>Resources Required</h5>
		<%# @resources_required.each do |resource| %>
			<dt>&nbsp;</dt>
			<dd><%#= resource %></dd>
		<%# end %>
	<%# end %>
	
	<%# if @proficiencies_required.present? %>
	<h5>Proficiencies Required</h5>
		<%# @proficiencies_required.each do |proficiency| %>
			<dt>&nbsp;</dt>
			<dd><%#= proficiency %></dd>
		<%# end %>
	<%# end %>
</dl> -->