<h3>REFERENCES AND OTHER RESOURCES FOR THIS COURSE</h3>
<p><%= @course.resources.present? ? @course.resources.html_safe : '<i>undefined</i>'.html_safe %></p>

<h2><small>GENERAL INFORMATION</small></h2>
<p><%= Parameter.find_by_name('Digital and Research Literacy').present? ? Parameter.find_by_name('Digital and Research Literacy').body.html_safe : '<i>undefined</i>'.html_safe %></p>

<h2><small>HEALTH AND SAFETY</small></h2>
<p><%= Parameter.find_by_name('health and safety').present? ? Parameter.find_by_name('health and safety').body.html_safe : '<i>undefined</i>'.html_safe %></p>

<h2><small>ADDITIONAL SUPPORT FOR STUDENTS</small></h2>
<p><%= Parameter.find_by_name('additional support for students').present? ? Parameter.find_by_name('additional support for students').body.html_safe : '<i>undefined</i>'.html_safe %></p>