<dl class="dl-horizontal">
	<h2 style="text-align: center;">RESOURCES FOR STUDENTS</h2>
	<br />
	<h3>REFERENCES AND OTHER RESOURCES FOR THIS COURSE</h3>
	<br />
	<dt>Refrences and Other Resources</dt>
	<dd><%= @course.resources.present? ? @course.resources : '<i>undefined</i>'.html_safe %></dd>
</dl>