<div class="form-actions">              
	<%= f.submit "Save", :class => 'btn btn-primary', :name => "status", :value => "SAVE" %>&nbsp;&nbsp;&nbsp;
	<% if current_user.convenor_or_superadmin?(f.object) %>
		<%= f.submit "Submit", :class => "btn btn-primary", :name => "status", :value => "SUBMIT FOR APPROVAL" %>&nbsp;&nbsp;&nbsp;
	<% end %>
	<% if current_user.program_director?(f.object) %>
		<%= f.submit "Approve", :class => "btn btn-success", :name => "status", :value => "APPROVE" %>&nbsp;&nbsp;&nbsp;
	<% end %>
	<%= link_to "Cancel", course_path(:category => params[:category]), :class => 'btn' %>
</div>