body {
  font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
  font-size: 16px;
}
h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  border-bottom: 1px solid #333;
  width: 100%;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
}

p {
  margin-bottom: 10px;
}

.logo {
  width: 50%;
  margin-bottom: 50px;
  img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
